# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Next.js
/.next/
/out/

# Production
/build/

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment and local settings
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Python Virtual Environments
venv/
env/
ENV/
.env/
.venv/
# Exclude chesssense folder
docs/chesssense/
README1.md 
final_proposal.md

docs/nyayak/latex
final_project_report_demo_created_by_chatgpt.md
nyayak_latex.zip
codebase_implementation.md
docs/nyayak/README.md
docs/nyayak/nyayak_report.js
docs/nyayak/nyayak_report_2.js
docs/nyayak/Nyayak_Project_Report.docx
docs/nyayak/nyayak_project_report_2.pdf
docs/nyayak/nyayak_project_report_2.docx
docs/nyayak/Nyayak_Project_Report_1.pdf